<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="DB_Validation_Suite" verbose="1">

    <listeners>
        <listener class-name="listeners.ExtentTestListener"/>
    </listeners>

    <test name="DB_Validation_Tests">
        <classes>
            <class name="tests.UserTableValidationTest"/>
            <class name="tests.OrderTableValidationTest"/>
            <class name="tests.DataIntegrityTest"/>
        </classes>
    </test>

</suite>